<h2 mat-dialog-title>Change your password</h2>
<mat-dialog-content class="mat-typography">
  <!-- Modal -->

        
       <div class="container w-80">
        <div class="mb-6 gap-2">
            <form [formGroup]="resetPassword" (ngSubmit)="updatePassword()">
              <label for="user-email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            <input #emailtoreset formControlName="email" type="email" id="user-email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ex: user@mail.com">
            <br>
            <label for="user-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current Password</label>
            <input #emailtoreset formControlName="userPassword" type="password" id="user-password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your current password">
            <br>
            <label for="new-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
            <input #emailtoreset formControlName="newPassword" type="password" id="new-password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Min. 8 characteres">
              <br>
            <label for="confirm-new-email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm New Password</label>
            <input #emailtoreset formControlName="confirmNewPassword" type="password" id="confirm-new-email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Confirm new password">
          
            <br>
            <div *ngIf="fc['confirmNewPassword'].touched && fc['confirmNewPassword'].invalid" class="bg-red-300 p-2 rounded-md mb-2">
              <div *ngIf="fc['confirmNewPassword'].errors?.['required']">Password is required.</div>
              <div *ngIf="fc['confirmNewPassword'].errors?.['confirmedValidator']">New Password and Confirm New Password must match.</div>
          </div>
            <button type="submit" mat-raised-button color="accent" [disabled]="resetPassword.invalid">Reset Password</button>
        </form>

        <p class="mt-4 text-red-600 p-4" *ngIf="resetPassErrorMessage">{{resetPassErrorMessage}}</p>
        <p class="mt-4 text-green-700 p-4" *ngIf="changePassSuccessMessage">{{changePassSuccessMessage}}</p>
        </div>
       </div>

   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  
</mat-dialog-actions>